# FERNANDA IDARRAGA - COMP663 | Fall 2022

# LAB 3 - Linear Regression

# Question #1 - Creating SLR Models

In [1]:
# Import the necessary modules
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Code to read in nbaallelo_slr.csv
nba = pd.read_csv('nbaallelo_slr.csv')

#display(nba.head())

In [2]:
nba.columns

Index(['gameorder', 'game_id', 'lg_id', '_iscopy', 'year_id', 'date_game',
       'seasongame', 'is_playoffs', 'team_id', 'fran_id', 'pts', 'elo_i',
       'elo_n', 'win_equiv', 'opp_id', 'opp_fran', 'opp_pts', 'opp_elo_i',
       'opp_elo_n', 'game_location', 'game_result', 'forecast', 'notes'],
      dtype='object')

In [3]:
# Create a new column in the data frame that is the difference between pts and opp_pts
# Code to find the difference between the columns pts and opp_pts
nba['y'] = nba['pts'] - nba['opp_pts']
#display(nba['y'].head())

In [4]:
#display(nba.head())

In [5]:
# Perform simple linear regression on y and elo_i
# Code to perform SLR using statsmodels ols 
#results = ols('y ~ elo_n', data=nba).fit() #TEST
results = ols('y ~ elo_i', data=nba).fit()

#Print the results
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.069
Model:                            OLS   Adj. R-squared:                  0.069
Method:                 Least Squares   F-statistic:                     9393.
Date:                Thu, 13 Oct 2022   Prob (F-statistic):               0.00
Time:                        21:35:24   Log-Likelihood:            -5.0228e+05
No. Observations:              126314   AIC:                         1.005e+06
Df Residuals:                  126312   BIC:                         1.005e+06
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -46.9173      0.485    -96.646      0.000     -47.869     -45.966
elo_i          0.0314      0.000     96.917      0.000       0.031       0.032
==============================================================================
Omnibus:                      453.407   Durbin-Watson:                   2.910
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              616.451
Skew:                          -0.003   Prob(JB):                    1.38e-134
Kurtosis:                       3.342   Cond. No.                     2.00e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large,  2e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [6]:
# Create an analysis of variance table
# Code to create ANOVA table , use Type 2 since no interaction effect is assumed between the independent variables
aov_table = sm.stats.anova_lm(results, typ=2)

# Print the analysis of variance table
print(aov_table)

                sum_sq        df            F  PR(>F)
elo_i     1.563923e+06       1.0  9392.933846     0.0
Residual  2.103094e+07  126312.0          NaN     NaN

# Question #2 - Making predictions using SLR Models

In [7]:
import numpy as np
import pandas as pd
import statsmodels.formula.api as sms
from statsmodels.formula.api import ols

# load the file internetusage.csv
internet = pd.read_csv('internetusage.csv')
display(internet.head())

,State,Year,internet_usage,bachelors_degree,GDPpcGrowth,unemployment,Population,FarmEmploy,Forest&FishEmploy,Mining Employ,...,White,Black,NativeAmeri,Asian,PacificIslander,Other,Hispanic,SalesTax,LandArea,PovertyRate
0,Alabama,2010,61.7,22.0,-0.29,3.8,4785401,50168,14919,12015,...,0.695,0.264,0.006,0.011,0.000,0.011,0.038,4.00,"50,644",17.2
1,Alaska,2010,83.4,26.6,-3.50,9.3,714146,755,12069,17816,...,0.674,0.035,0.146,0.055,0.011,0.009,0.057,0.00,"570,665",12.5
2,Arizona,2010,74.3,25.6,-2.46,8.0,6413158,26348,15652,17977,...,0.794,0.041,0.045,0.027,0.002,0.064,0.298,5.60,"113,595",18.8
3,Arkansas,2010,63.4,18.9,0.75,10.4,2921588,56100,13849,16789,...,0.784,0.159,0.006,0.011,0.002,0.021,0.063,6.00,"52,030",15.3
4,California,2010,75.6,29.9,-0.97,7.9,37338198,237455,213933,60398,...,0.624,0.060,0.008,0.131,0.004,0.131,0.377,7.25,"155,766",16.3

In [8]:
# fit a linear model using the sms.ols function and the internet dataframe
model = ols('internet_usage ~ bachelors_degree', data=internet).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         internet_usage   R-squared:                       0.354
Model:                            OLS   Adj. R-squared:                  0.341
Method:                 Least Squares   F-statistic:                     26.89
Date:                Thu, 13 Oct 2022   Prob (F-statistic):           4.09e-06
Time:                        21:35:40   Log-Likelihood:                -154.61
No. Observations:                  51   AIC:                             313.2
Df Residuals:                      49   BIC:                             317.1
Df Model:                           1
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept           55.1103      3.665     15.037      0.000      47.745      62.475
bachelors_degree     0.6755      0.130      5.185      0.000       0.414       0.937
==============================================================================
Omnibus:                        3.456   Durbin-Watson:                   2.111
Prob(Omnibus):                  0.178   Jarque-Bera (JB):                2.474
Skew:                          -0.498   Prob(JB):                        0.290
Kurtosis:                       3.413   Cond. No.                         144.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [9]:
#Percentage of individuals with bachelor's degrees

In [10]:
bach_percent = float(input())

10

In [11]:
# Use the model.predict function to find the predicted value for internet_usage using 
# the bach_percent value for the predictor

In [12]:
x0 = pd.DataFrame(np.array([[bach_percent]]), columns = ['bachelors_degree'])
prediction=model.predict(x0)
print(prediction)

0    61.865155
dtype: float64

# Question #3 - Creating Correlation Matrices

In [13]:
import pandas as pd

# Code to read in nbaallelo_slr.csv
nba = pd.read_csv('nbaallelo_slr.csv')
display(nba.head())

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN

In [14]:
nba.columns

Index(['gameorder', 'game_id', 'lg_id', '_iscopy', 'year_id', 'date_game',
       'seasongame', 'is_playoffs', 'team_id', 'fran_id', 'pts', 'elo_i',
       'elo_n', 'win_equiv', 'opp_id', 'opp_fran', 'opp_pts', 'opp_elo_i',
       'opp_elo_n', 'game_location', 'game_result', 'forecast', 'notes'],
      dtype='object')

In [15]:
# Display the correlation matrix for the columns elo_i, pts, and opp_pts

# Code to calculate correlation matrix
print(nba[['elo_i', 'pts', 'opp_pts']].corr())

            elo_i       pts   opp_pts
elo_i    1.000000  0.090233 -0.147279
pts      0.090233  1.000000  0.592491
opp_pts -0.147279  0.592491  1.000000

In [16]:
# Create a new column in the data frame that is the difference between pts and opp_pts
# Code to find the difference between the columns pts and opp_pts
nba['y'] = nba['pts'] - nba['opp_pts']
#display(nba['y'].head())

In [17]:
#display(nba.head()) CHECK WHETHER COLUMN [Y] HAS BEEN CREATED

In [18]:
# Display the correlation matrix for elo_i and y
# Code to calculate the correlation matrix
print(nba[['elo_i', 'y']].corr())

          elo_i         y
elo_i  1.000000  0.263089
y      0.263089  1.000000

# Question #4 - Multiple Regression

In [19]:
# Import the necessary modules
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [20]:
# Code to read in nbaallelo_slr.csv
nba = pd.read_csv('nbaallelo_slr.csv')
display(nba.head())

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,...,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,...,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,...,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,...,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,...,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN

In [21]:
# Perform multiple linear regression on pts, elo_i, and opp_pts
# Code to perform multiple regression using statsmodels ols 
results = ols('pts ~ elo_i + opp_pts',nba).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    pts   R-squared:                       0.383
Model:                            OLS   Adj. R-squared:                  0.383
Method:                 Least Squares   F-statistic:                 3.924e+04
Date:                Thu, 13 Oct 2022   Prob (F-statistic):               0.00
Time:                        21:36:36   Log-Likelihood:            -4.8920e+05
No. Observations:              126314   AIC:                         9.784e+05
Df Residuals:                  126311   BIC:                         9.784e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.2793      0.528      6.216      0.000       2.245       4.313
elo_i          0.0240      0.000     81.211      0.000       0.023       0.025
opp_pts        0.6192      0.002    277.168      0.000       0.615       0.624
==============================================================================
Omnibus:                      494.686   Durbin-Watson:                   2.469
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              579.948
Skew:                           0.096   Prob(JB):                    1.16e-126
Kurtosis:                       3.270   Cond. No.                     2.42e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.42e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [22]:
# Create an analysis of variance table
# Code to create ANOVA table
aov_table = sm.stats.anova_lm(results, typ=2)

# Print the analysis of variance table
print(aov_table)

                sum_sq        df             F  PR(>F)
elo_i     8.927665e+05       1.0   6595.177102     0.0
opp_pts   1.039912e+07       1.0  76821.932418     0.0
Residual  1.709829e+07  126311.0           NaN     NaN